doctype html
html(lang="en")
  head
    title= "Owlypixel"
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js")
  body
    .wrapper
      include src/owly.pug
    