svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.3 162.3')
  style.
    .st1{fill:#fe931d;stroke:#e4764f;stroke-miterlimit:10}.st2{fill:#a273d7}.st4{fill:#d4b2ee}.st5{fill:#bd95dc}.st7{fill:#fff}.st8,.st9{stroke:#000;stroke-miterlimit:10}.st9{fill:#fff}
  g#Left_Leg
    path.st1(d='M47.8 139.4s-4.1 4.7-4.6 10 2.3 10.4 4.6 10.7c2.3.2 6.4-3.3 6.2-9.8-.2-6.4-6.2-10.9-6.2-10.9zM37.9 139.8s-6.2.7-10.1 4.3c-3.9 3.6-5.4 9.2-3.9 11 1.5 1.7 6.9 1.9 11.2-3 4.2-4.9 2.8-12.3 2.8-12.3z')
    path.st1(d='M43.6 137.5s-8.7 4-11.8 9.7c-3.2 5.7-3.7 12.7-1 14.3s11-4.5 13.7-9.7c2.6-5.1-.9-14.3-.9-14.3z')
  g#Right_Leg
    path.st1(d='M79.5 139.4s4.1 4.7 4.6 10-2.3 10.4-4.6 10.7c-2.3.2-6.4-3.3-6.2-9.8.2-6.4 6.2-10.9 6.2-10.9zM89.4 139.8s6.2.7 10.1 4.3c3.9 3.6 5.4 9.2 3.9 11-1.5 1.7-6.9 1.9-11.2-3-4.3-4.9-2.8-12.3-2.8-12.3z')
    path.st1(d='M83.6 137.5s8.7 4 11.8 9.7c3.2 5.7 3.7 12.7 1 14.3-2.7 1.7-11-4.5-13.7-9.7-2.6-5.1.9-14.3.9-14.3z')
  path#Body.st2(d='M28.1 9.8C29 9 39.8 0 66.3 0s35.5 9.8 35.5 9.8S117.1-.7 123.6 3c4.2 8.3-4.8 45.3-4.8 45.3l3.8 32s8.2 62.7-57.2 64C-.1 145.7 6.1 82 6.1 82l4.3-36.2S3.2 7.3 8.1 4.3s20 5.5 20 5.5z')
  path#Belly(d='M18 125.5s7.6-36.2 46.1-38 46.3 38.5 46.3 38.5-10.8 16.7-45 19S18 125.5 18 125.5z' fill='#bd95de')
  g#belly_waves
    path.st4(d='M34.1 101.6c2.5 2.4 6.3 6.6 10.1 6.7 3.7.1 7.2-4.1 9.3-6.7h-2.1c3 2.9 7.2 6.4 11.5 6.6 4.6.3 8.5-3.5 11.1-6.9h-2.6c5.6 8.4 18.1 9.5 23.3 0 .9-1.7-1.7-3.2-2.6-1.5-4 7.4-13.8 6.6-18.2 0-.7-1-1.9-.9-2.6 0-2.5 3.3-6.2 6.5-10.6 4.8-2.8-1.1-5.2-3.1-7.3-5.1-.5-.5-1.6-.6-2.1 0-1.6 1.9-4.7 6.1-7.5 5.7-2.7-.4-5.7-3.9-7.6-5.7-1.4-1.3-3.5.8-2.1 2.1zM45.8 122.3c1.7 3.5 4.9 8.5 9.3 8.5s7.8-5 9.5-8.5c-.9-.1-1.8-.2-2.7-.4 1.7 4.2 5.2 8.8 10.2 8.9 4.9 0 8.1-4.6 9.4-8.9.6-1.8-2.3-2.6-2.9-.8-.9 2.9-3.1 6.6-6.6 6.6-3.5 0-6.1-3.8-7.3-6.6-.4-1.1-2.1-1.6-2.7-.4-1.2 2.5-3.8 7-7 7-3.1 0-5.5-4.5-6.7-7-.7-1.6-3.3-.1-2.5 1.6z')
  g#Wing_Left
    path.st2(d='M37.4 93.6s25.5 23.8 21.3 32.8c-3.2.9-6.3 1.5-9.2 1.9C30 130.6 18.3 122 12.1 115c-4-4.5-5.7-8.4-5.7-8.4s-4.5-18.3 5.3-23.8 25.7 10.8 25.7 10.8z')
    path.st4(d='M36.3 94.6c4.8 4.5 9.4 9.4 13.5 14.6 2.8 3.6 6 7.7 7.3 12.2.2.7.6 1.8.5 2.6-.4 1.6-.3 1-1.8 1.4-4.2 1.3-9 1.7-13.3 1.6-13.5-.1-26-6.8-33.2-18.3-3.4-5.4-4.1-16.7.5-22.3 7.2-8.9 20.9 2.6 26.5 8.2 1.4 1.4 3.5-.7 2.1-2.1-6-6.1-16.7-14.9-25.9-11.7-9.4 3.3-10.3 17.7-7.7 25.8C8.5 118 22 126.7 33 129.1c4.2.9 8.6 1.2 12.9 1 3.4-.2 10.4-.2 13.1-2.3 3-2.2 1.2-7.3-.2-10.1-4.5-9.6-12.8-18-20.4-25.1-1.4-1.4-3.5.7-2.1 2z')
    path.st2(d='M14.4 97.2c-3.4 5-2.3 17.7-2.3 17.7')
    path.st4(d='M13.1 96.5c-3.2 5.2-3 12.6-2.5 18.5.2 1.9 3.2 1.9 3 0-.4-5.4-.8-12.3 2.1-17 1-1.7-1.6-3.2-2.6-1.5z')
    path.st2(d='M21.6 106.1c-3.3 5.4-.6 16.5-.6 16.5')
    path.st4(d='M20.3 105.3c-2.8 5.2-2.1 12.1-.8 17.7.4 1.9 3.3 1.1 2.9-.8-1.1-4.7-1.9-10.9.5-15.4.9-1.7-1.6-3.2-2.6-1.5z')
    g
      path.st2(d='M30.1 112c-3.5 5.3-.7 14.6-.7 14.6')
      path.st4(d='M28.8 111.2c-2.8 4.6-2.3 10.7-.9 15.7.5 1.9 3.4 1.1 2.9-.8-1.2-4.2-1.8-9.5.6-13.4 1-1.6-1.6-3.2-2.6-1.5z')
    g
      path.st2(d='M47.5 121c-1.5 2.6.8 7.4.8 7.4')
      path.st4(d='M46.2 120.2c-1.4 2.8-.5 6.2.8 8.9.8 1.7 3.4.2 2.6-1.5-.7-1.5-1.6-4.2-.8-5.9.9-1.7-1.7-3.2-2.6-1.5z')
    g
      path.st2(d='M38 128.4s-2.1-6.3 1-11.8')
      path.st4(d='M39.4 128c-1.1-3.5-.8-7.4.9-10.6.9-1.7-1.7-3.2-2.6-1.5-2.1 3.9-2.5 8.7-1.2 12.9.6 1.8 3.5 1 2.9-.8z')
  g#Wing_Right
    path.st2(d='M90.7 93.6s-25.5 23.8-21.3 32.8c3.2.9 6.3 1.5 9.2 1.9 19.4 2.4 31.1-6.2 37.4-13.3 4-4.5 5.7-8.4 5.7-8.4s4.5-18.3-5.3-23.8-25.7 10.8-25.7 10.8z')
    path.st4(d='M89.7 92.5C82.9 98.9 76.1 106 71.2 114c-1.9 3.1-5 8.4-3.4 12.2 1.2 2.6 4.9 2.5 7.5 3 4.7.8 9.5 1.2 14.2.7 13-1.2 28.3-9.6 33.4-22.4 2.9-7.4 2.2-20.2-4.5-25.2-9.2-6.8-22.3 3.7-28.7 10.2-1.4 1.4.8 3.5 2.1 2.1 5.1-5.1 14.4-13.2 22.1-11.2 8.4 2.1 8.7 16.5 6.5 22.5-3.9 10.8-16.9 18.6-27.5 20.5-4.1.7-8.3.8-12.4.4-2.2-.2-4.4-.6-6.6-1-1.6-.3-2.8-.1-3.3-1.4-1.2-3.2 3.2-9 4.9-11.4 4.7-6.7 10.4-12.9 16.4-18.4 1.3-1.3-.8-3.4-2.2-2.1z')
    path.st2(d='M113.7 97.2c3.4 5 2.3 17.7 2.3 17.7')
    path.st4(d='M112.5 98c2.9 4.7 2.6 11.6 2.1 17-.2 1.9 2.8 1.9 3 0 .5-5.9.7-13.3-2.5-18.5-1.1-1.7-3.7-.2-2.6 1.5z')
    path.st2(d='M106.5 106.1c3.3 5.4.6 16.5.6 16.5')
    path.st4(d='M105.2 106.8c2.4 4.4 1.6 10.6.5 15.4-.4 1.9 2.5 2.7 2.9.8 1.3-5.6 2.1-12.5-.8-17.7-.9-1.7-3.5-.2-2.6 1.5z')
    g
      path.st2(d='M98 112c3.5 5.3.7 14.6.7 14.6')
      path.st4(d='M96.7 112.7c2.3 3.9 1.8 9.2.6 13.4-.5 1.9 2.4 2.7 2.9.8 1.5-5 1.9-11.1-.9-15.7-1-1.7-3.6-.1-2.6 1.5z')
    g
      path.st2(d='M80.6 121c1.5 2.6-.8 7.4-.8 7.4')
      path.st4(d='M79.3 121.7c.9 1.7-.1 4.3-.8 5.9-.8 1.7 1.8 3.3 2.6 1.5 1.3-2.7 2.2-6.1.8-8.9-.9-1.7-3.4-.2-2.6 1.5z')
    g
      path.st2(d='M90.1 128.4s2.1-6.3-1-11.8')
      path.st4(d='M91.6 128.8c1.4-4.2.9-9-1.2-12.9-.9-1.7-3.5-.2-2.6 1.5 1.7 3.2 2 7.2.9 10.6-.6 1.8 2.3 2.6 2.9.8z')
  g#Eye1
    path.st5(d='M19.7 27.2c.5-.7-6.6-4.2-11.2-2.5 4.9 4.7 3.9 9.7 3.9 9.7S2.3 33.9 1 37.6c6.1 2.2 6.7 7.5 6.7 7.5S0 49.5 0 52.7c6.5-.5 7.6 3.6 7.6 3.6s-.5 5.5-5.8 11.1c2.2 2.4 10-.4 10-.4s-3.5 8.8-1.3 10.3c3.6-4 7.8-3.3 7.8-3.3s-.7 10.3 1.5 11.4c2.4-5.1 8.5-6.3 8.5-6.3s1.2 9 4.3 9C35.1 82 41 80 41 80s6.4 6.4 10.2 5c-2.1-4.6 2.7-10.5 2.7-10.5s5.1 3 8.1.6c-1.8-3.5-1-8.2-1-8.2s2.8.8 4.6-1.4c-1.5-2.8-1-7.8-1-7.8V44.8s-.5-6.8 2.6-9.4c-1.6-2-6.6-.6-6.6-.6s1.4-5.5 3.4-8c-1.8-3-10 1-10 1s-.3-5.1 2.5-9C54.4 16.7 45.4 24 45.4 24s-2.9-7.1-1.8-9.9c-4.4-1.5-9 7.8-9 7.8s-8.4-1.3-11.5-7.1c-3.8 1.5-3.4 12.4-3.4 12.4z')
    circle.st7(cx='34.6' cy='48.3' r='20.5')
    circle.st8(cx='35.1' cy='41.3' r='12')
    circle.st9(cx='34.6' cy='38.3' r='3.5')
  g#Eye2
    path.st5(d='M109.6 27.2c-.5-.7 6.6-4.2 11.2-2.5-4.9 4.7-3.9 9.7-3.9 9.7s10-.5 11.4 3.2c-6.1 2.2-6.7 7.5-6.7 7.5s7.7 4.3 7.7 7.6c-6.5-.5-7.6 3.6-7.6 3.6s.5 5.5 5.8 11.1c-2.3 2.4-10.1-.4-10.1-.4s3.5 8.8 1.3 10.3c-3.6-4-7.8-3.3-7.8-3.3s.7 10.3-1.5 11.4c-2.4-5.1-8.5-6.3-8.5-6.3s-1.2 9-4.3 9C94.1 82 88.3 80 88.3 80s-6.4 6.4-10.2 5c2.1-4.6-2.7-10.5-2.7-10.5s-5.1 3-8.1.6c1.8-3.5 1-8.2 1-8.2s-2.8.8-4.6-1.4c1.5-2.8 1-7.8 1-7.8V44.8s.5-6.8-2.6-9.4c1.6-2 6.6-.6 6.6-.6s-1.4-5.5-3.4-8c1.8-3 10 1 10 1s.3-5.1-2.5-9c2.3-2.1 11.3 5.1 11.3 5.1s2.9-7.1 1.8-9.9c4.4-1.5 9 7.8 9 7.8s8.4-1.3 11.5-7.1c3.6 1.6 3.2 12.5 3.2 12.5z')
    circle.st5(cx='93.4' cy='51.1' r='29.3')
    circle.st7(cx='91.6' cy='48.3' r='20.5')
    circle.st8(cx='92.1' cy='41.3' r='12')
    circle.st9(cx='91.6' cy='38.3' r='3.5')
  g#Nose
    ellipse(cx='63.4' cy='43.3' rx='5.8' ry='15.5' fill='#482d2c')
